# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env
.env.*
.env.local

# Firebase service account keys
serviceAccountKey.json
frontend/serviceAccountKey.json